<app-nav-bar></app-nav-bar>
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="./././photo1.jpg" alt="">
  </div>
  <div class="col-lg-5">
    <h1 class="font-weight-light">Bienvenue !</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Proin faucibus orci nec scelerisque iaculis.
      Sed blandit urna sit amet tellus tempus dignissim eu quis risus.
      Donec mauris nisl, tristique sagittis sem a, semper tristique tortor.
    </p>
    <a class="btn btn-dark rounded-pill" href="#">Créer une nouvelle fiche</a>
  </div>
</div>
